div{
      border: 1px;
      border-style: solid;
}
fieldset{
      border-radius: 0.3rem;
      padding: 1rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
}
label{
      display: block;
      margin: 0.5rem;
}